* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  margin-top: 120px;
  text-align: center;
}
.heading {
  text-align: center;
  margin-top: 50px;
}
.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}
.repo {
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
