* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
a {
    text-decoration: underline;
    color: #004b91;
}
.centre {
    margin-top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}
.heading {
  text-align: center;
  margin-top: 50px;
}
.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}
.repo {
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .repo {
    flex-direction: column;
  justify-content: space-around;

  }
  .repo h3{
    margin-bottom: 5px;
    margin-top: 5px;
  }
}